<main>
  <div class="editor-window rooms">
    <span class="editor-window-label">ROOMS</span>
    <ul class="room-list">
      <li class="room-list-item" *ngFor="let room of rooms">
        {{room}}
      </li>
    </ul>
  </div>
  <div class="editor-window subrooms">
    <span class="editor-window-label">SUB-ROOMS</span>
    <ul class="subroom-list">

    </ul>
  </div>
  <div class="editor-window description">
    <span class="editor-window-label">ROOM DESCRIPTION</span>
    <textarea class="description-textarea"></textarea>
  </div>
  <div class="editor-window paths">
      <span class="editor-window-label">PATHS & ACTIONS</span>

  </div>
</main>