/* You can add global styles to this file, and also import other style files */
@import'reset.css';

// Fonts
@import url('https://fonts.googleapis.com/css?family=VT323');

:root{
  --textColor: #fff;
  --backgroundColor: #000;
}

body{
  background: var(--backgroundColor);
  color: var(--textColor);
  max-width: 100%;
  max-height: 100%;
  font-family: 'VT323'
}
